@import "src/styles/variables";

.grid {
  $tile: calc($tile-size + $tile-margin * 2);
  $size: calc(4 * $tile);

  width: $size;
  height: $size;
  box-sizing: unset;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  background-image: $empty-tile;
  background-repeat: space;
  background-size: $tile;
}