@import "src/styles/variables";

.grid {
  $size: calc(4 * ($tile-size + $tile-margin * 2));

  width: $size;
  height: $size;
  box-sizing: unset;

  padding: 0.5rem;
  border: 1px solid red;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}