@import "functions";

@mixin respond-to($size) {
  @media #{responsive($size)} {
    @content;
  }
}

@mixin simple-slide($from, $to, $duration) {
  @keyframes slide {
    0% { transform: $from; }
    100% { transform: $to; }

  }

  will-change: transform;
  transform: translateZ(0);
  animation: slide $duration ease forwards;
  /* Vendor Prefixes for older browsers */
  -webkit-animation: slide $duration ease forwards;
  -moz-animation: slide $duration ease forwards;
  -o-animation: slide $duration ease forwards;
}

@mixin simple-scale($scale, $duration) {
  @keyframes scale {
    0%, 100% { transform: scale(1); }
    50% { transform: scale($scale); }
  }

  will-change: transform;
  transform: translateZ(0);
  animation: scale $duration ease-out forwards;
  /* Vendor Prefixes for older browsers */
  -webkit-animation: scale $duration ease-out forwards;
  -moz-animation: scale $duration ease-out forwards;
  -o-animation: scale $duration ease-out forwards;
}
