@import "functions";

@mixin respond-to($size) {
  @media #{responsive($size)} {
    @content;
  }
}

@mixin simpleSlide($from, $to, $duration) {
  @keyframes slide {
    0% { transform: $from; }
    100% { transform: $to; }

  }

  will-change: transform;
  transform: translateZ(0);
  animation: slide $duration ease forwards;
  /* Vendor Prefixes for older browsers */
  -webkit-animation: slide $duration ease forwards;
  -moz-animation: slide $duration ease forwards;
  -o-animation: slide $duration ease forwards;
}