$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$background-color-mobile: #F08080;
$background-color-tablet: #90EE90;
$background-color-desktop: #ADD8E6;

$tile-size: 5rem;
$tile-margin: 0.25rem;