@import "src/styles/mixins";
@import "src/styles/variables";

.tile {
  width: $tile-size;
  height: $tile-size;

  margin: $tile-margin;

  background-color: grey;
  border-radius: 22%;

  font-size: 2rem;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 $tile-size;

  &.empty {
    background-color: inherit;
  }

  &.slide {
    --time: 250;
    --from: 0;
    --to: 0;

    @include simpleSlide(var(--from), var(--to), var(--time))
  }
}