@import "src/styles/mixins";

.tile {
  width: 5rem;
  height: 5rem;

  background-color: grey;
  border-radius: 5px;

  font-size: 3rem;
  color: #FFF;

  display: flex;
  align-items: center;
  justify-content: center;

  &.empty {
    background-color: ghostwhite;
  }

  &.slide {
    --time: 250;
    --from: 0;
    --to: 0;

    @include simpleSlide(var(--from), var(--to), var(--time))
  }
}