@import "src/styles/mixins";
@import "src/styles/variables";

.tile {
  width: $tile-size;
  height: $tile-size;
  margin: $tile-margin;

  border-radius: 22%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 $tile-size;

  background-color: $tile-2048;
  color: $tile-color-light;
  font-size: 1.6rem;

  &.empty {
    background-color: inherit;
  }

  @each $tile-name, $values in $tile-styles {
    &.#{$tile-name} {
      background-color: nth($values, 1);
      color: nth($values, 2);
      font-size: nth($values, 3);
    }
  }

  &.slide {
    --time: 250;
    --from: 0;
    --to: 0;

    @include simple-slide(var(--from), var(--to), var(--time))
  }

  &.scale {
    --time: 250;
    @include simple-scale(1.1, var(--time))
  }
}